:root {
  --h-text-color: #212121;
  --main-text-color: #757575;
  --footer-text-color: #ffffff;
  --accent-text-color: #2196f3;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

/* Header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--h-text-color);
  margin-right: 95px;
}
.header {
  color: var(--h-text-color);
  padding: 25px 215px;
  display: flex;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-pages {
  display: flex;
  align-items: center;
  margin-right: 280px;
}

.header-pages-list:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  line-height: 1.1;
  color: var(--h-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
  cursor: pointer;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-left: auto;
}
.header-contacts-list {
  margin-right: 50px;
}
.header-contacts-list:last-child {
  margin-right: 0px;
}
/* Header finished */

/* main */

/* Hero */
.hero {
  width: 100%;
  height: 600px;
  background: rgba(47, 48, 58, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  width: 660px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: var(--footer-text-color);
  margin: 200px auto 30px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--footer-text-color);
  background-color: var(--accent-text-color);
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-text-color);
  background-color: var(--footer-text-color);
}
/* Hero finished */

/* Features */
.features {
  width: 1170px;
  margin: 95px auto;
}
.hidden {
  display: none;
}
.features-list {
display: flex;
}
.features-items:not(:last-child){
margin-right: 30px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--h-text-color);
}

.features-text {
  width: 270px;
}
/* Features finished */


/* What we do */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--h-text-color);
  text-align: center;
}
.we-do-images {
  width: 1170px;
  display: flex;
  margin: 50px auto 95px;
justify-content: space-between;

}
/* What we do finsihed */

/* Our team */
.team {
  width: 100%;
  height: 648px;
  background: #F5F4FA;
  margin: 95px auto;
}
.team-list {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0px
}
.team .title {
  font-weight: 500;
  font-size: 16px;
}


.team-description {
  font-size: 16px;
  line-height: 1.2;
}
/* Our team finished */

/* Footer */
.footer {
  background-color: #2f303a;
  padding: 60px 1154px 215px;
  display: inline-block;
}
.footer-link {
  color: var(--footer-text-color);
}
.footer-rgba {
  color: rgba(255, 255, 255, 0.6);
}

/* Footer finished */

/* Portfolio */

/* Filter */
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--h-text-color);
  background-color: #f5f4fa;
  border: none;
  padding: 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-text-color);
  color: var(--footer-text-color);
}
/* Filter finished */

/* Examples */
.examples-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-text-color);
}

.examples-description {
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-text-color);
}
