:root {
  --h-text-color: #212121;
  --main-text-color: #757575;
  --footer-text-color: #ffffff;
  --accent-text-color: #2196f3;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

ul {
  list-style-type: none;
}

.title {
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--h-text-color);
  font-size: 36px;
}

/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  }
.header {
  color: var(--h-text-color);
}

.header a {
  line-height: 1.1;
  color: var(--h-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header a:hover,
.header a:focus {
  color: var(--accent-text-color);
  cursor: pointer;
}
/* main */

/* hero */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: var(--footer-text-color);
  background-color: #2f303a;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--footer-text-color);
  background-color: var(--accent-text-color);
  border: none;
  padding: 10px 32px;
}

.hidden {
  display: none;
}

.features .title {
  font-size: 14px;
  text-transform: uppercase;
}

.team ul .title {
  font-weight: 500;
  font-size: 16px;

}

.team p {
  font-size: 16px;
  line-height: 1.2;
}

.footer {
  background-color: #2F303A;
  padding: 60px 1154px 215px;
  display:inline-block;
}
.footer a{
  color: var(--footer-text-color);
  text-decoration: none;
  font-style: normal;
}