:root {
  --h-text-color: #212121;
  --main-text-color: #757575;
  --footer-text-color: #ffffff;
  --accent-text-color: #2196f3;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

/* Header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--h-text-color);
}
.header {
  color: var(--h-text-color);
}

.header-link {
  line-height: 1.1;
  color: var(--h-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
  cursor: pointer;
}
/* Header finished */

/* main */

/* Hero */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: var(--footer-text-color);
  background-color: #2f303a;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--footer-text-color);
  background-color: var(--accent-text-color);
  border: none;
  padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-text-color);
  background-color: var(--footer-text-color);
}
/* Hero finished */

/* Features */
.hidden {
  display: none;
}

.title {
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--h-text-color);
  font-size: 36px;
}

.features .title {
  font-size: 14px;
  text-transform: uppercase;
}
/* Features finished */

/* Our team */
.team .title {
  font-weight: 500;
  font-size: 16px;
}

.team-description {
  font-size: 16px;
  line-height: 1.2;
}
/* Our team finished */

/* Footer */
.footer {
  background-color: #2f303a;
  padding: 60px 1154px 215px;
  display: inline-block;
}
.footer-link {
  color: var(--footer-text-color);
}
.footer-rgba {
  color: rgba(255, 255, 255, 0.6);
}

/* Footer finished */

/* Portfolio */

/* Filter */
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--h-text-color);
  background-color: #f5f4fa;
  border: none;
  padding: 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-text-color);
  color: var(--footer-text-color);
}
/* Filter finished */

/* Examples */
.examples-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-text-color);
}

.examples-description {
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-text-color);
}
